.github-link {
  position: fixed;

  left: 24px;
bottom: 24px;

  transform: translateY(-50%);

  z-index: 999;

  padding: 8px;

  transition: transform 0.2s ease;
}

.github-link img {
  width: 48px;
  height: 48px;
}

.github-link:hover {
  transform: translateY(-50%) scale(1.05);
}
